html {
    background-color:#dbdbdb;
}

body {
    width: 70%;
    padding: 100px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: #121212;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}

#titlecard {
    text-align:center;
    padding: 50px;
}

#bodytext {
    text-align:left;
    margin-left:10%;
    margin-right:10%;
}

#imagecard {
    display:flex;
    flex-direction:row;
}

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
    border-style:hidden;
}