body {
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}

#pagecontainer {
    display:flex;
    height:100vh;
}

#sidebar {
    display:flex;
    flex-direction:column;
    position:fixed;
    height:100%;
    width:120px;
    background-color:#f1f1f1;
    justify-content: center;
    border-right: 1px solid #dadada;
}

.navitem {
    margin:10px;
    padding:10px;
    border-radius: 5px;
    text-align: center;
    background-color:#f1f1f1;
    transition-duration:0.25s;
}

#content {
    overflow:scroll;
    overflow-x:hidden;
    background-color:white;
    padding-left:120px;
    padding-right:200px;
    width:100%;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

.card {
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100vh;
    padding-left:100px;
    padding-right:200px;
    width:100%;
    scroll-snap-align: center;
}
.card .half {
    width:50%;
}

.row {
    display:flex;
    flex-direction:row;
}
.col {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}


#title {
    background-color:rgb(44, 85, 110);
    color:#ffffff;
}

#abstract {
    background-color:#ffffff;
}

#stage1 {
    background-color:#363636;
    color: #ffffff;
}

#stage2 {
    background-color:#363636;
    color: #ffffff;
}

#results {
    
}

#references {
    background-color:rgb(44, 85, 110);
    color:#ffffff;
}


h1 {
    font-size:70px;
}

h2 {
    font-size:40px;
}

h3 {
    font-size:20px;
}

li {
    font-size: 20px;
}

p {
    font-size:20px;
}

.caption {
    text-align: center;
    font-size:15px;
}